In [1]:
import pandas as pd

In [2]:
csv_data = pd.read_csv("../data/DXYArea.csv")

In [3]:
#add a new line named date
csv_data["updateTime"]  = pd.to_datetime(csv_data["updateTime"],format='%Y-%m-%d %H:%M:%S')
csv_data["date"] = csv_data["updateTime"].dt.date

In [4]:
csv_data.head(6)

,continentName,continentEnglishName,countryName,countryEnglishName,provinceName,provinceEnglishName,province_zipCode,province_confirmedCount,province_suspectedCount,province_curedCount,province_deadCount,updateTime,cityName,cityEnglishName,city_zipCode,city_confirmedCount,city_suspectedCount,city_curedCount,city_deadCount,date
0,非洲,Africa,索马里,Somali,索马里,Somali,985008,7,0.0,1,0,2020-04-04 11:36:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-04
1,欧洲,Europe,奥地利,Austria,奥地利,Austria,963001,11383,0.0,2022,168,2020-04-04 11:27:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-04
2,欧洲,Europe,瑞典,Sweden,瑞典,Sweden,962005,6078,0.0,17,333,2020-04-04 11:27:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-04
3,亚洲,Asia,巴基斯坦,Pakistan,巴基斯坦,Pakistan,953006,2458,0.0,107,35,2020-04-04 11:27:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-04
4,欧洲,Europe,克罗地亚,Croatia,克罗地亚,Croatia,965005,1079,0.0,88,8,2020-04-04 11:27:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-04
5,亚洲,Asia,亚美尼亚,Armenia,亚美尼亚,Armenia,955002,736,0.0,43,7,2020-04-04 11:27:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-04

In [5]:
#groupby
dateGroupDate = csv_data.groupby("date")
# for n, g in dateGroupDate:
#     print("multiGroup on:", n, "\n|",g ,"|")

In [6]:
csv_global_comfirmed = pd.read_csv("../data/time_series_covid19_confirmed_global.csv")
csv_global_dead = pd.read_csv("../data/time_series_covid19_deaths_global.csv")
csv_global_recovered = pd.read_csv("../data/time_series_covid19_recovered_global.csv")

csv_global_dead.head(6)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20,4/3/20,4/4/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,4,4,4,4,4,4,4,6,6,7
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,6,8,10,10,11,15,15,16,17,20
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,25,26,29,31,35,44,58,86,105,130
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,3,3,3,6,8,12,14,15,16,17
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,0,0,0,2,2,2,2,2,2,2
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
csv_China_comfirmed = csv_global_comfirmed[csv_global_comfirmed["Country/Region"] =="China"]
csv_China_dead = csv_global_dead[csv_global_dead["Country/Region"] =="China"]
csv_China_recovered = csv_global_recovered[csv_global_recovered["Country/Region"] =="China"]

In [8]:

date_columns = csv_global_comfirmed.columns.values[4:]
sum_confirmed_of_date = []
sum_dead_of_date = []
sum_recovered_of_date = []
sum_China_comfirmed = []
sum_China_dead = []
sum_China_recovered=[]
for cur_date in date_columns:
    sum_confirmed_of_date.append(csv_global_comfirmed[cur_date].sum())
    sum_dead_of_date.append(csv_global_dead[cur_date].sum())
    sum_recovered_of_date.append(csv_global_recovered[cur_date].sum())
    sum_China_comfirmed.append(csv_China_comfirmed[cur_date].sum())
    sum_China_dead.append(csv_China_dead[cur_date].sum())
    sum_China_recovered.append(csv_China_recovered[cur_date].sum())

In [9]:
# create new dataframe
global_data = {
    "date":date_columns,
    "confirmed_cases_global":sum_confirmed_of_date,
    "dead_cases_global":sum_dead_of_date,
    "recovered_cases_global":sum_recovered_of_date,
    "confirmed_cases_China":sum_China_comfirmed,
    "dead_cases_China":sum_China_dead,
    "recovered_cases_China":sum_China_recovered
}

df_global_data = pd.DataFrame(global_data)
df_global_data

,date,confirmed_cases_global,dead_cases_global,recovered_cases_global,confirmed_cases_China,dead_cases_China,recovered_cases_China
0,1/22/20,555,17,28,548,17,28
1,1/23/20,654,18,30,643,18,30
2,1/24/20,941,26,36,920,26,36
3,1/25/20,1434,42,39,1406,42,39
4,1/26/20,2118,56,52,2075,56,49
...,...,...,...,...,...,...,...
68,3/30/20,782365,37582,164566,82198,3308,75923
69,3/31/20,857487,42107,178034,82279,3309,76206
70,4/1/20,932605,46809,193177,82361,3316,76405
71,4/2/20,1013157,52983,210263,82432,3322,76565
72,4/3/20,1095917,58787,225796,82511,3326,76760

In [10]:
# df_global_data["lethal_rate_global"] = df_global_data["dead_cases_global"]/df_global_data["confirmed_cases_global"]
# df_global_data["cure_rate_global"] = df_global_data["recovered_cases_global"]/df_global_data["confirmed_cases_global"]
# df_global_data["lethal_rate_China"] = df_global_data["dead_cases_China"]/df_global_data["confirmed_cases_China"]
# df_global_data["cure_rate_China"] = df_global_data["recovered_cases_global"]/df_global_data["confirmed_cases_global"]

In [38]:
df_global_data_diff = df_global_data.set_index('date').diff()
df_global_data
# df_global_data_diff = df_global_data_diff.reset_index(drop=True)

df_global_data_diff = df_global_data_diff[df_global_data_diff.index !="1/22/20"]

df_global_data_diff

,confirmed_cases_global,dead_cases_global,recovered_cases_global,confirmed_cases_China,dead_cases_China,recovered_cases_China,lethal_rate_global,cure_rate_global,lethal_rate_China,cure_rate_China
date,,,,,,,,,,
1/23/20,99.0,1.0,2.0,95.0,1.0,2.0,-0.003108,-0.004579,-0.003028,-0.004579
1/24/20,287.0,8.0,6.0,277.0,8.0,6.0,0.000107,-0.007614,0.000267,-0.007614
1/25/20,493.0,16.0,3.0,486.0,16.0,3.0,0.001659,-0.011061,0.001611,-0.011061
1/26/20,684.0,14.0,13.0,669.0,14.0,10.0,-0.002849,-0.002645,-0.002884,-0.002645
1/27/20,809.0,26.0,9.0,802.0,26.0,9.0,0.001575,-0.003711,0.001514,-0.003711
...,...,...,...,...,...,...,...,...,...,...
3/30/20,62248.0,3657.0,15484.0,76.0,4.0,341.0,0.000926,0.003320,0.000011,0.003320
3/31/20,75122.0,4525.0,13468.0,81.0,1.0,283.0,0.001069,-0.002721,-0.000027,-0.002721
4/1/20,75118.0,4702.0,15143.0,82.0,7.0,199.0,0.001087,-0.000486,0.000045,-0.000486
4/2/20,80552.0,6174.0,17086.0,71.0,6.0,160.0,0.002103,0.000395,0.000038,0.000395
4/3/20,82760.0,5804.0,15533.0,79.0,4.0,195.0,0.001347,-0.001499,0.000010,-0.001499

In [11]:
df_global_data.to_csv("../data/case_by_date.csv")

In [39]:
df_global_data_diff.to_csv("../data/increase_case_by_date.csv")