In [1]:
import pandas as pd

In [2]:
csv_data = pd.read_csv("../data/DXYArea.csv")

In [3]:
#add a new line named date
csv_data["updateTime"]  = pd.to_datetime(csv_data["updateTime"],format='%Y-%m-%d %H:%M:%S')
csv_data["date"] = csv_data["updateTime"].dt.date

In [4]:
csv_data.head(6)

,continentName,continentEnglishName,countryName,countryEnglishName,provinceName,provinceEnglishName,province_zipCode,province_confirmedCount,province_suspectedCount,province_curedCount,province_deadCount,updateTime,cityName,cityEnglishName,city_zipCode,city_confirmedCount,city_suspectedCount,city_curedCount,city_deadCount,date
0,非洲,Africa,索马里,Somali,索马里,Somali,985008,7,0.0,1,0,2020-04-04 11:36:59,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-04
1,欧洲,Europe,奥地利,Austria,奥地利,Austria,963001,11383,0.0,2022,168,2020-04-04 11:27:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-04
2,欧洲,Europe,瑞典,Sweden,瑞典,Sweden,962005,6078,0.0,17,333,2020-04-04 11:27:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-04
3,亚洲,Asia,巴基斯坦,Pakistan,巴基斯坦,Pakistan,953006,2458,0.0,107,35,2020-04-04 11:27:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-04
4,欧洲,Europe,克罗地亚,Croatia,克罗地亚,Croatia,965005,1079,0.0,88,8,2020-04-04 11:27:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-04
5,亚洲,Asia,亚美尼亚,Armenia,亚美尼亚,Armenia,955002,736,0.0,43,7,2020-04-04 11:27:53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-04-04

In [5]:
#groupby
dateGroupDate = csv_data.groupby("date")
# for n, g in dateGroupDate:
#     print("multiGroup on:", n, "\n|",g ,"|")

In [6]:
csv_global_comfirmed = pd.read_csv("../data/time_series_covid19_confirmed_global.csv")
csv_global_dead = pd.read_csv("../data/time_series_covid19_deaths_global.csv")
csv_global_recovered = pd.read_csv("../data/time_series_covid19_recovered_global.csv")

csv_global_dead.head(6)

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/5/20,5/6/20,5/7/20,5/8/20,5/9/20,5/10/20,5/11/20,5/12/20,5/13/20,5/14/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,95,104,106,109,115,120,122,127,132,136
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,31,31,31,31,31,31,31,31,31,31
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,470,476,483,488,494,502,507,515,522,529
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,46,46,47,47,48,48,48,48,49,49
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,2,2,2,2,2,2,2,2,2,2
5,NaN,Antigua and Barbuda,17.0608,-61.7964,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3

In [7]:
csv_China_comfirmed = csv_global_comfirmed[csv_global_comfirmed["Country/Region"] =="China"]
csv_China_dead = csv_global_dead[csv_global_dead["Country/Region"] =="China"]
csv_China_recovered = csv_global_recovered[csv_global_recovered["Country/Region"] =="China"]

In [8]:

date_columns = csv_global_comfirmed.columns.values[4:]
sum_confirmed_of_date = []
sum_dead_of_date = []
sum_recovered_of_date = []
sum_China_comfirmed = []
sum_China_dead = []
sum_China_recovered=[]
for cur_date in date_columns:
    sum_confirmed_of_date.append(csv_global_comfirmed[cur_date].sum())
    sum_dead_of_date.append(csv_global_dead[cur_date].sum())
    sum_recovered_of_date.append(csv_global_recovered[cur_date].sum())
    sum_China_comfirmed.append(csv_China_comfirmed[cur_date].sum())
    sum_China_dead.append(csv_China_dead[cur_date].sum())
    sum_China_recovered.append(csv_China_recovered[cur_date].sum())

In [9]:
# create new dataframe
global_data = {
    "date":date_columns,
    "confirmed_cases_global":sum_confirmed_of_date,
    "dead_cases_global":sum_dead_of_date,
    "recovered_cases_global":sum_recovered_of_date,
    "confirmed_cases_China":sum_China_comfirmed,
    "dead_cases_China":sum_China_dead,
    "recovered_cases_China":sum_China_recovered
}

df_global_data = pd.DataFrame(global_data)
df_global_data

,date,confirmed_cases_global,dead_cases_global,recovered_cases_global,confirmed_cases_China,dead_cases_China,recovered_cases_China
0,1/22/20,555,17,28,548,17,28
1,1/23/20,654,18,30,643,18,30
2,1/24/20,941,26,36,920,26,36
3,1/25/20,1434,42,39,1406,42,39
4,1/26/20,2118,56,52,2075,56,49
...,...,...,...,...,...,...,...
109,5/10/20,4101699,282709,1408980,84010,4637,79167
110,5/11/20,4177502,286330,1456209,84011,4637,79198
111,5/12/20,4261747,291942,1493414,84018,4637,79222
112,5/13/20,4347018,297197,1548547,84024,4637,79246
113,5/14/20,4442163,302418,1587893,84029,4637,79261

In [10]:
# df_global_data["lethal_rate_global"] = df_global_data["dead_cases_global"]/df_global_data["confirmed_cases_global"]
# df_global_data["cure_rate_global"] = df_global_data["recovered_cases_global"]/df_global_data["confirmed_cases_global"]
# df_global_data["lethal_rate_China"] = df_global_data["dead_cases_China"]/df_global_data["confirmed_cases_China"]
# df_global_data["cure_rate_China"] = df_global_data["recovered_cases_global"]/df_global_data["confirmed_cases_global"]

In [11]:
df_global_data_diff = df_global_data.set_index('date').diff()
df_global_data_diff
# df_global_data_diff = df_global_data_diff.reset_index(drop=True)

df_global_data_diff = df_global_data_diff[df_global_data_diff.index !="1/22/20"]

df_global_data_diff

,confirmed_cases_global,dead_cases_global,recovered_cases_global,confirmed_cases_China,dead_cases_China,recovered_cases_China
date,,,,,,
1/23/20,99.0,1.0,2.0,95.0,1.0,2.0
1/24/20,287.0,8.0,6.0,277.0,8.0,6.0
1/25/20,493.0,16.0,3.0,486.0,16.0,3.0
1/26/20,684.0,14.0,13.0,669.0,14.0,10.0
1/27/20,809.0,26.0,9.0,802.0,26.0,9.0
...,...,...,...,...,...,...
5/10/20,77690.0,3398.0,33356.0,20.0,0.0,40.0
5/11/20,75803.0,3621.0,47229.0,1.0,0.0,31.0
5/12/20,84245.0,5612.0,37205.0,7.0,0.0,24.0
5/13/20,85271.0,5255.0,55133.0,6.0,0.0,24.0
5/14/20,95145.0,5221.0,39346.0,5.0,0.0,15.0

In [12]:
df_global_data.to_csv("../data/case_by_date.csv")

In [13]:
df_global_data_diff.to_csv("../data/increase_case_by_date.csv")

In [ ]:
csv_data = pd.read_csv("../data/DXYArea.csv")